<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars Missions Show Page</title>
</head>
<body>
    <h1>Mars Missions Show Page</h1>
    <p><a href="/">Back to the Index page</a></p>
    <h2>Mission: <%= marsMissions.name %></h2>
    <h3>Launch Date: <%= marsMissions.launchDate %></h3>
    <p>Operator: <%= marsMissions.operator %></p>
    <p>Mission Type: <%= marsMissions.missionType %></p>
    <img src=<%= marsMissions.img %> width=500 >
</body>
</html>